---
import { WideContainer } from "@components/ui/WideContainer";
import { Container, Flex, panda } from "styled-system/jsx";
---

<WideContainer>
  <panda.div id="about" paddingY={12} marginTop={12} borderTop="1px solid">
    <Container
      maxWidth="3xl"
      color="gray.11"
      paddingTop="12"
      css={{
        "& a": {
          display: "inline-block",
          color: "gray.12",
          textDecoration: "underline",
        },
        "& p": {
          marginBottom: "6",
        },
      }}
    >
      <panda.p position="relative">
        <panda.div position="absolute" top="0" transform="translateY(50%)">
          (they/them)
        </panda.div>
        <panda.span
          fontSize="clamp(2rem, 5vw, 4rem)"
          fontWeight={600}
          lineHeight="0"
          color="gray.12"
        >
          I'm a
        </panda.span>
        full-stack developer with a passion for crafting creative web and app designs,
        creating interactive user experiences, and architecting the scalable infrastructure
        that powers it all.
      </panda.p>

      <p>
        Back in 2010, I decided to make a game mixing all kinds of elements from
        some of my favorite titles. I started learning how to code, learning how
        to tinker and create all kinds of things (games, apps, websites, robots,
        iot and an electric skateboard). I've been hooked ever since.
      </p>

      <p>
        I have a strong background in web development, with a focus on
        TypeScript, React and Node.js. On the side I try to keep up with the
        latest trends in the industry. For example this site is built using
        <a href="https://astro.build/">Astro</a> for static site generation,
        <a href="https://panda-css.com/">PandaCSS</a> for type-safe styling,
        <a href="https://www.solidjs.com/">Solidjs</a> for interactive components,
        built with
        <a href="https://bun.sh/">Bun</a> for a fast javascript runtime, and it's
        hosted on <a href="https://pages.github.com/">Github Pages</a>.
      </p>

      <p>
        When I'm not behind the computer, I enjoy riding and working on my
        motorcycle, volunteering at
        <a href="https://www.de-sering.org/nl"> De Sering</a>, or spending my
        time as a climate activist at <a href="https://extinctionrebellion.nl/"
          >Extinction Rebellion</a
        >.
      </p>

      <p>
        I'm always interested in new opportunities in web development. Although
        I've previously dabbled in the finance sector, I'm now exercising
        caution regarding any organizations that enable investments in arms
        trade, profit from war and human suffering, or have a negative impact in
        general. My personal background includes spending a lot of time in
        non-hierarchical organizations, where my primary aim has been to make a
        positive difference in the world. I'm highly motivated to work with
        organizations that share, even if only to a small extent, a similar
        mission.
      </p>
    </Container>
  </panda.div>
</WideContainer>
