---
import { Flex, VStack, panda } from "../../styled-system/jsx";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <VStack
    width={{ base: "90%", _print: "100%" }}
    maxWidth={{ base: "1200px", _print: "unset" }}
    marginY={{ base: "20", _print: "unset" }}
    marginX={{ base: "auto", _print: "unset" }}
    gap="10"
  >
    <panda.div
      display={{ base: "block", _print: "none" }}
      marginX="auto"
      paddingX="6"
      paddingY="4"
      shadow="lg"
      borderRadius="lg"
      backgroundColor="green.50"
      fontSize="sm"
    >
      <panda.p>
        This page is printable and designed for A4 paper in the portrait
        orientation.
      </panda.p>
      <panda.p color="gray.500">
        Want this resume in PDF format and save on paper waste? Most modern OS
        and browsers allow 'print to pdf'.
      </panda.p>
    </panda.div>

    <panda.div
      shadow={{ base: "lg", _print: "unset" }}
      borderRadius={{ base: "lg", _print: "unset" }}
      backgroundColor="white"
      rounded={{ base: "2xl", _print: "unset" }}
      overflow="hidden"
    >
      <Flex padding="10" gap="10" position="relative" overflow="hidden">
        <!-- page 1 -->
        <panda.div flexBasis="1/3" zIndex={2} fontSize="sm">
          <panda.img src="images/rich-with-cam.jpg" rounded="2xl" />
          <panda.div marginTop="5">
            <panda.h2
              fontSize="xl"
              fontWeight="300"
              borderStyle="solid"
              borderBottomWidth="thin"
              borderColor="gray.400"
            >
              Me <panda.small>(they/them)</panda.small>
            </panda.h2>

            <panda.h3 marginTop="2" fontWeight="semibold">Phone</panda.h3>
            <a href="tel:+31637327422">+31 6 37327422</a>

            <panda.h3 marginTop="2" fontWeight="semibold">Mail</panda.h3>
            <a href="mailto:richard.boomsma@proton.me">
              obscuresoftware@proton.me
            </a>

            <panda.h3 marginTop="2" fontWeight="semibold">Location</panda.h3>
            <p>Almere, The Netherlands</p>

            <panda.h3 marginTop="2" fontWeight="semibold">Languages</panda.h3>
            <p>Dutch, English</p>

            <panda.h3 marginTop="2" fontWeight="semibold">Socials</panda.h3>
            <a href="https://linkedin.com/in/richard-boomsma">
              linkedin.com/in/richard-boomsma
            </a>
            <a href="https://www.instagram.com/spaaacetoast/">
              instagram.com/spaaacetoast
            </a>
          </panda.div>

          <panda.div marginTop="5">
            <panda.h2
              fontSize="xl"
              fontWeight="300"
              borderStyle="solid"
              borderBottomWidth="thin"
              borderColor="gray.400"
            >
              Skills
            </panda.h2>

            <panda.p marginTop="2">
              <b>Frontend</b> JavaScript, TypeScript, SolidJS, React, React Native,
            </panda.p>
            <p><b>Backend</b> NodeJS, AstroJS, NextJS, Java, .NET</p>
          </panda.div>

          <panda.div marginTop="5">
            <panda.h2
              fontSize="xl"
              fontWeight="300"
              borderStyle="solid"
              borderBottomWidth="thin"
              borderColor="gray.400"
            >
              Education
            </panda.h2>

            <panda.p marginTop="2" fontWeight="bold">
              Bachelor Computer Science
            </panda.p>
            <p>NHL Stenden University of Applied Sciences</p>
            <p>2015 - 2019</p>

            <panda.p marginTop="2" fontWeight="bold">
              Software Developer
            </panda.p>
            <p>ROC Flevoland</p>
            <p>2013 - 2015</p>

            <panda.p marginTop="2" fontWeight="bold">
              IT Support Engineer
            </panda.p>
            <p>ROC Flevoland</p>
            <p>2011 - 2013</p>
          </panda.div>
        </panda.div>

        <Flex flexDirection="column" flexBasis="2/3">
          <panda.div
            position="absolute"
            left="0"
            right="0"
            top="0"
            height={{ base: "56", _print: "40" }}
            backgroundColor="gray.400"
            printColorAdjust="exact"
          />

          <panda.h1
            marginTop={{ base: "24", _print: "12" }}
            color="gray.100"
            fontSize={{ base: "6xl", _print: "5xl" }}
            fontWeight="100"
            textAlign="center"
            zIndex="1"
            printColorAdjust="exact"
            letterSpacing="5"
          >
            RICHARD BOOMSMA
          </panda.h1>

          <panda.h2
            marginTop="4"
            fontSize={{ base: "5xl", _print: "4xl" }}
            textAlign="center"
            letterSpacing="tight"
            zIndex="1"
            printColorAdjust="exact"
          >
            Full Stack Developer
          </panda.h2>

          <panda.div
            marginTop="4"
            border="1px solid"
            borderBlockColor="gray.500"
          />

          <panda.p marginTop="2">
            Full stack developer with a passion for creative web and app
            designs, interactive experiences and scalable infrastructure behind
            the scenes.
          </panda.p>

          <panda.div marginTop="4">
            <panda.h3 fontSize="xl" fontWeight="600" borderBottom="1px solid">
              Work Experience
            </panda.h3>

            <panda.div
              position="relative"
              marginTop="4"
              paddingBottom="4"
              borderBottom="1px solid"
            >
              <panda.p fontWeight="bold">Frank Energie</panda.p>
              <panda.p position="absolute" top="0" right="0">
                october 2022 - june 2023
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Implemented internationalization into the site, enabling
                    per-language and per-country features, as well as seperation
                    of business logic
                  </li>
                  <li>
                    Worked closely with the designers to implement new design
                    features into the site and app
                  </li>
                  <li>
                    Implementing (interactive) features in the app, ensuring
                    feature parity between IOS and Android
                  </li>
                </panda.ul>
              </div>
            </panda.div>

            <panda.div position="relative" marginTop="4">
              <panda.p fontWeight="bold">
                Team Rockstars IT <panda.small fontWeight="light">
                  Agency
                </panda.small>
              </panda.p>
              <panda.p position="absolute" top="0" right="0">
                februari 2020 - october 2022
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Was part of an amazing community of developers, sharing
                    knowledge and experiences
                  </li>
                </panda.ul>
              </div>
            </panda.div>

            <panda.div
              position="relative"
              paddingBottom="4"
              marginTop="4"
              borderBottom="1px solid"
            >
              <panda.p fontWeight="bold">
                DEGIRO <panda.small fontWeight="light">
                  via Team Rockstars IT
                </panda.small>
              </panda.p>
              <panda.p position="absolute" top="0" right="0">
                april 2020 - july 2022
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Influenced the design and implementation choices for the new
                    front end stack and CI/CD pipeline
                  </li>
                  <li>
                    Worked on several frontends projects that where crucial for
                    the RISK department
                  </li>
                  <li>Helped implementing several microservices in Java</li>
                </panda.ul>
              </div>
            </panda.div>

            <panda.div
              position="relative"
              marginTop="4"
              paddingBottom="4"
              borderBottom="1px solid"
            >
              <panda.p><b>ING</b>{" "} <small>Internship</small></panda.p>
              <panda.p position="absolute" top="0" right="0">
                april 2019 - december 2019
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Researched internal teams needs to having a BDD testing
                    framework
                  </li>
                  <li>
                    Developed a loosely coupled and modular testing framework on
                    top of Cucumber, allowing users to create test cases for
                    API's using building blocks
                  </li>
                </panda.ul>
              </div>
            </panda.div>

            <panda.div
              position="relative"
              marginTop="4"
              paddingBottom="4"
              borderBottom="1px solid"
            >
              <panda.p fontWeight="bold">Sancus I</panda.p>
              <panda.p position="absolute" top="0" right="0">
                may 2018 - november 2018
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Transitioned their existing Python-based backend to the
                    latest .NET framework, enabling the use of Entity Framework
                    for data modeling and typed queries, as well as the use of
                    Identity Server for user management and authentication
                  </li>
                  <li>Configured the CI/CD pipeline in Azure</li>
                </panda.ul>
              </div>
            </panda.div>
          </panda.div>
        </Flex>
      </Flex>
    </panda.div>
  </VStack>

  <style is:global>
    html {
      font-size: unset;

      @media print {
        font-size: 14px;
      }
    }

    @page {
      margin: 0;
    }
  </style>
</BaseLayout>
