---
import BaseLayout from "@layouts/BaseLayout.astro";
import { VStack, panda, Flex, HStack, Divider } from "styled-system/jsx";
import richWithCam from "@assets/images/rich-with-cam.jpg";
---

<BaseLayout>
  <VStack
    width={{ base: "90%", _print: "100%" }}
    height={{ base: "unset", _print: "50%" }}
    maxWidth={{ base: "1200px", _print: "unset" }}
    maxHeight={{ base: "unset", _print: "50%" }}
    marginY={{ base: "20", _print: "0" }}
    marginX={{ base: "auto", _print: "0" }}
    overflow={{ base: "unset", _print: "hidden" }}
    gap="10"
  >
    <panda.div
      display={{ base: "block", _print: "none" }}
      marginX="auto"
      paddingX="6"
      paddingY="4"
      shadow="lg"
      borderRadius="lg"
      backgroundColor="green.3"
      fontSize="sm"
    >
      <panda.p>
        This page is printable and designed for A4 paper in the portrait
        orientation.
      </panda.p>
      <panda.p color="gray.10">
        Want this resume in PDF format and save on paper waste? Most modern OS
        and browsers allow 'print to PDF'.
      </panda.p>
    </panda.div>

    <panda.div
      shadow={{ base: "lg", _print: "unset" }}
      borderRadius={{ base: "lg", _print: "unset" }}
      backgroundColor="white"
      rounded={{ base: "2xl", _print: "unset" }}
      overflow="hidden"
    >
      <Flex padding="10" gap="10" position="relative" overflow="hidden">
        <!-- page 1 -->
        <panda.div flexBasis="1/3" zIndex={2} fontSize="sm">
          <panda.img src={richWithCam.src} rounded="2xl" />
          <panda.div marginTop="5">
            <panda.h2
              fontSize="xl"
              fontWeight="300"
              borderStyle="solid"
              borderBottomWidth="thin"
              borderColor="gray.5"
            >
              Me <panda.small>(they/them)</panda.small>
            </panda.h2>

            <panda.h3 marginTop="2" fontWeight="semibold">
              Personal Site
            </panda.h3>
            <a href="https://obscure.software">obscure.software</a>

            <panda.h3 marginTop="2" fontWeight="semibold">Phone</panda.h3>
            <a href="tel:+31637327422">+31 6 37327422</a>

            <panda.h3 marginTop="2" fontWeight="semibold">Mail</panda.h3>
            <a href="mailto:richard.boomsma@proton.me">
              obscuresoftware@proton.me
            </a>

            <panda.h3 marginTop="2" fontWeight="semibold">Location</panda.h3>
            <p>Almere, The Netherlands</p>

            <panda.h3 marginTop="2" fontWeight="semibold">Languages</panda.h3>
            <p>Dutch, English</p>

            <panda.h3 marginTop="2" fontWeight="semibold">Find me on</panda.h3>
            <a href="https://linkedin.com/in/richard-boomsma">
              linkedin.com/in/richard-boomsma
            </a>
          </panda.div>

          <panda.div marginTop="5">
            <panda.h2
              fontSize="xl"
              fontWeight="300"
              borderStyle="solid"
              borderBottomWidth="thin"
              borderColor="gray.5"
            >
              Skills
            </panda.h2>

            <panda.p marginTop="2">
              <panda.div fontWeight="semibold">Languages</panda.div>
              <div>
                TypeScript, Java, C#,
                <panda.span textWrap="nowrap">Rust (learning)</panda.span>
              </div>
            </panda.p>

            <panda.p marginTop="2">
              <panda.div fontWeight="semibold">Front-end Frameworks</panda.div>
              <div>
                SolidJS, React,
                <panda.span textWrap="nowrap">React Native</panda.span>
              </div>
            </panda.p>

            <panda.p marginTop="2">
              <panda.div fontWeight="semibold">Back-end Frameworks</panda.div>
              <div>NodeJS, AstroJS, NextJS, .NET, Spring Boot</div>
            </panda.p>
          </panda.div>

          <panda.div marginTop="5">
            <panda.h2
              fontSize="xl"
              fontWeight="300"
              borderStyle="solid"
              borderBottomWidth="thin"
              borderColor="gray.5"
            >
              Education
            </panda.h2>

            <panda.p marginTop="2" fontWeight="semibold">
              Bachelor Computer Science
            </panda.p>
            <p>NHL Stenden</p>
            <p>2015 - 2019</p>

            <panda.p marginTop="2" fontWeight="semibold">
              Software Developer
            </panda.p>
            <p>ROC Flevoland</p>
            <p>2013 - 2015</p>

            <panda.p marginTop="2" fontWeight="semibold">
              IT Support Engineer
            </panda.p>
            <p>ROC Flevoland</p>
            <p>2011 - 2013</p>
          </panda.div>
        </panda.div>

        <Flex flexDirection="column" flexBasis="2/3">
          <panda.div
            position="absolute"
            left="0"
            right="0"
            top="0"
            height={{ base: "56", _print: "32" }}
            backgroundColor="gray.9"
            printColorAdjust="exact"
          />

          <panda.h1
            marginTop={{ base: "24", _print: "7" }}
            color="gray.2"
            fontSize={{ base: "6xl", _print: "5xl" }}
            fontWeight="100"
            textAlign="center"
            zIndex="1"
            printColorAdjust="exact"
            letterSpacing="5"
            lineHeight={{ base: "unset", _print: "tight" }}
          >
            RICHARD
            <panda.div
              color="gray.10"
              fontWeight="300"
              fontSize={{ base: "3xl", _print: "2xl" }}>BOOMSMA</panda.div
            >
          </panda.h1>

          <panda.h2
            marginTop="4"
            fontSize={{ base: "5xl", _print: "4xl" }}
            textAlign="center"
            letterSpacing="tight"
            zIndex="1"
            printColorAdjust="exact"
          >
            Full Stack Developer
          </panda.h2>

          <panda.div
            marginTop="4"
            border="1px solid"
            borderBlockColor="gray.9"
          />

          <panda.p marginTop="2">
            Full stack developer with a passion for creative web and app
            designs, interactive experiences and scalable infrastructure that
            powers it all.
          </panda.p>

          <panda.div marginTop="4">
            <panda.h3 fontSize="xl" fontWeight="600" borderBottom="1px solid">
              Work Experience <panda.small fontWeight="400">
                5+ years experience
              </panda.small>
            </panda.h3>

            <panda.div
              position="relative"
              marginTop="4"
              paddingBottom="4"
              borderBottom="1px solid"
            >
              <panda.p fontWeight="bold">Radical Builders</panda.p>
              <panda.p position="absolute" top="0" right="0">
                january 2024 - current
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Designed and built an interactive frontend for
                    remote-controlled vessels, displaying critical operational
                    data for real-time monitoring and control.
                  </li>
                  <li>
                    Set up an onsite CI/CD pipeline for streamlined development
                    and deployment, ensuring the latest software is always
                    available.
                  </li>
                  <li>
                    Implemented secure VPN for reliable remote hardware access
                  </li>
                  <li>
                    Engineered multi-WAN failover to ensure continuous
                    connectivity using Wi-Fi, 4G, and Starlink
                  </li>
                </panda.ul>
              </div>
            </panda.div>
          </panda.div>

          <panda.div
            position="relative"
            marginTop="4"
            paddingBottom="4"
            borderBottom="1px solid"
          >
            <panda.p fontWeight="bold">Frank Energie</panda.p>
            <panda.p position="absolute" top="0" right="0">
              october 2022 - june 2023
            </panda.p>
            <div>
              <panda.ul listStyle="square">
                <li>
                  Implemented internationalization on the site, enabling
                  per-language and per-country features, and seperating business
                  logic
                </li>
                <li>
                  Worked closely with designers to implement new design features
                  into the site and app
                </li>
                <li>
                  Implemented interactive features in their app, ensuring
                  feature parity between iOS and Android
                </li>
              </panda.ul>
            </div>
          </panda.div>

          <panda.div position="relative" marginTop="4">
            <panda.p fontWeight="bold">
              Team Rockstars IT
              <panda.small fontWeight="light">Agency</panda.small>
            </panda.p>
            <panda.p position="absolute" top="0" right="0">
              february 2020 - october 2022
            </panda.p>
            <div>
              <panda.ul listStyle="square">
                <li>
                  Participated in an amazing community of developers, sharing
                  knowledge and experiences
                </li>
              </panda.ul>
            </div>
          </panda.div>

          <panda.div
            position="relative"
            paddingBottom="4"
            marginTop="4"
            borderBottom="1px solid"
          >
            <panda.p fontWeight="bold">
              DEGIRO
              <panda.small fontWeight="light">
                via Team Rockstars IT
              </panda.small>
            </panda.p>
            <panda.p position="absolute" top="0" right="0">
              april 2020 - july 2022
            </panda.p>
            <div>
              <panda.ul listStyle="square">
                <li>
                  Influenced many design and implementation choices of the new
                  front-end stack and CI/CD pipeline
                </li>
                <li>
                  Worked on several front-end projects that were crucial for the
                  RISK department
                </li>
                <li>Implemented a handful of microservices in Java</li>
              </panda.ul>
            </div>
          </panda.div>

          <Flex gap={{ base: "8", _print: "4" }}>
            <panda.div
              position="relative"
              marginTop="4"
              paddingBottom="4"
              borderBottom="1px solid"
              flex="1 1 50%"
            >
              <panda.p><b>ING</b>{" "} <small>Internship</small></panda.p>
              <panda.p position="absolute" top="0" right="0">
                apr - dec 2019
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <li>
                    Developed a modular BDD testing framework using Cucumber,
                    based on internal team needs
                  </li>
                </panda.ul>
              </div>
            </panda.div>

            <panda.div
              width="1px"
              marginTop="4"
              justifySelf="stretch"
              borderRight="1px solid"
              display={{ base: "block", _print: "none" }}
            />

            <panda.div
              position="relative"
              marginTop="4"
              paddingBottom="4"
              borderBottom="1px solid"
              flex="1 1 50%"
            >
              <panda.p fontWeight="bold">Sancus I</panda.p>
              <panda.p position="absolute" top="0" right="0">
                may - nov 2018
              </panda.p>
              <div>
                <panda.ul listStyle="square">
                  <!-- <li>Transitioned back-end from Python to .NET</li>
                    <li>Configured CI/CD pipeline in Azure</li> -->
                  <li>
                    Transitioned infrastructure from Python to Microsoft
                    technologies (.NET and Azure)
                  </li>
                </panda.ul>
              </div>
            </panda.div>
          </Flex>
        </Flex>
      </Flex>
    </panda.div>
  </VStack>
</BaseLayout>

<style is:global>
  html {
    @media print {
      font-size: 14px !important;
    }
  }

  @page {
    margin: 0;
  }
</style>
