---
import { Flex, panda } from "../../styled-system/jsx";
import { Container } from "./ui/Container";
---

<div>
  <Container>
    <Flex
      justifyContent="space-between"
      alignItems="center"
      paddingTop={4}
      paddingBottom={4}
      borderBottom="1px solid"
      fontFamily="noto-mono"
    >
      <panda.div fontSize="3rem" fontWeight={800} letterSpacing="-0.2rem">
        obscure
      </panda.div>
      <Flex gap={2} alignItems="center">
        <panda.div
          display="inline-block"
          position="relative"
          rounded={9999}
          height={2}
          width={2}
          bgColor="green.500"
        >
          <panda.span
            display="inline-block"
            position="absolute"
            rounded={9999}
            height={2}
            width={2}
            bgColor="green.500"
            animation="ping"
            animationDuration="3s"
          />
        </panda.div>available for new projects
      </Flex>
      <Flex gap={12}>
        <a>PORTFOLIO</a>
        <a>ABOUT</a>
        <a>CONTACT</a>
      </Flex>
    </Flex>
  </Container>
</div>
